.nav-bar{
    background-color: #19202b !important;
    border-bottom: 1px solid #303741;
}
.top-bar{
    height: 41px;
}
.middle-bar{
    height: 90px;
    border-bottom: 0px;
}
.end-bar{
    height: 50px;
    border-bottom: 0px;
    background: #232f3e !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .nav-link{
    color: white;
  }

  .nav-link:hover{
    color:#f03723 ;
  }

  .br-link-top-bar{
    margin: 0;
    padding: 0 20px !important;
    font-size: 13px;
    text-transform: capitalize;
    border-right: solid 0.5px #474d55;
    
  }

  .text-call{
    color: #fff;
  }

  .search-box{
    padding: 20px 45px 20px 15px;
  }
  .input-search{
    border: none;
    padding: 0 15px;
    border-radius: 3px;
    height: 50px;
    border: 1px solid #e3e3e3;
    width: 80%;
    line-height: 18px;
    color: #999;
    font-size: 14px;
    margin-right: 0;
    padding-right: 0;
  }
  
  .btn{
    height: 50px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .icon-nav{
    font-size: 50px;
    color: white;
  }