.nav-bar{
    background-color: #19202b !important;
    border-bottom: 1px solid #303741;
}
.top-bar{
    height: 41px;
}
.middle-bar{
    height: 90px;
    border-bottom: 0px;
}
.end-bar{
    border-bottom: 0px;
    background: #232f3e !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .drob-bg{
    
    width: 200px;
    height: 50px;
  }

  .drob-bg:hover{
    background-color: #f03723;
  }
  .drob-text{
        padding: 15px;
      
  }

  .nav-link{
    color: white;
  }

  .nav-link:hover{
    color:#f03723 ;
  }

  .nav-link:active{
    color:#f03723 ;
  }
  .br-link-top-bar{
    margin: 0;
    padding: 0 20px !important;
    font-size: 13px;
    text-transform: capitalize;
    border-right: solid 0.5px #474d55;
    
  }

  .text-call{
    color: #fff;
  }

  .search-box{
    padding: 20px 45px 20px 15px;
  }
  .input-search{
    border: none;
    padding: 0 15px;
    border-radius: 3px;
    height: 50px;
    border: 1px solid #e3e3e3;
    width: 70%;
    line-height: 18px;
    color: #999;
    font-size: 14px;
  }
  
  .btn{
    height: 50px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .icon-nav{
    font-size: 28px;
    color: white;
    position: absolute;
    left: 0;
  }
  .icon-text{
    color: white;
    display: block;
    line-height: 1;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
  }

  .navbar-text{
    color: #fdc801;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 100px;
   
  }


.nav-btn-user li{
    display: ruby-base;
    list-style: none;
    position: relative;
    vertical-align: bottom;
}
.link-icon{
    font-size: 14px;
    position: relative;
    line-height: 1;
    display: block;
    padding-left: 40px;
}